@{
    ViewBag.Title = "Home Page";
}

<div class="scroll">
    <h3>Page 1</h3>
    <p>Content here...</p>
    <a href="/home/Users?pageID=15" data-ui="jscroll-next">Next</a>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.scroll').jscroll({
                autoTrigger: false
            });
        });
    </script>
}